*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
body{ overflow: hidden;}

section{ display: flex;
justify-content: center;
min-height: 100vh;
background-color: #FFCEFE;}

